.top-section {
    display: flex;
    align-items: center;
    background-color: gainsboro;
    padding: 20px;
}

.top-section img {
    border-radius: 50%;
    border: 5px solid black;
    width: 180px;
    height: 180px;
    margin-right: 30px; 
}

.top-section .info {
    text-align: left;
}

.top-section .info h1 {
    margin: 0;
    font-size: 50px; 
    color: darkblue;
}

.top-section .info h3 {
    margin: 5px 0 0;
    font-size: 22px;
    color: gray;
}
*star{
    background-color: cadetblue;
}